*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue-cta-btn{
    font-size: 16px;
    background-color: #0074E4!important; 
    color: #fff !important;
    border: none !important;
    cursor: pointer;
    transition: background-color 1s ease-in-out !important;
    padding: 12px 20px 12px 20px !important;
  }
  
  .blue-cta-btn:hover{
    background-color: #003c77 !important;
  }