section{
    margin: 8% 10%;
}
.tcs{
    padding: 2% 4%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    width: 100px;
}
.check{
    align-items: center;
}
h1{
    color: #0074E4 !important;
}
h2{
    color: #298AE8 !important;
}
.c{
    color: #0074E4 !important;
}
.b{
    background-color: #0074E4 !important;
    color: white !important;
}

@media only screen and  (max-width: 415px) {
    .flex{
        flex-direction: column;
        gap: 30px;
    }
}
